:root {
    --mdc-theme-primary: #1c1c1c;
    --mdc-theme-secondary: #a0a0a0;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #a90023;
}

html {
    position: relative;
}

body {
    margin: 0;
}

.nav-drawer {
    z-index: 1 !important;
    position: fixed !important;
    top: 64px !important;
    height: calc(100% - 64px);
    padding-top: 1rem;
}

.main-content {
    padding: 2rem;
}

#particles {
    height: 93vh;
    background-color: #252525;
    background-image: url("resources/app-logo.png");
    background-size: 150vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.jumbotron-card {
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    max-width: 80vw;
    padding: 1rem;
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}